sudo: false
branches:
  only:
    - master

language: node_js

install:
  - npm install
  - npm install grunt-cli
  - npm install bower
  - node_modules/.bin/bower install

script:
  - grunt dist

after_success:
  - export NODE_ENV=production # enable deeper compilation options
  - git config user.name 'TravisCI Auto-publisher'
  - git config user.email 'travis-auto-publish@example.com'
  - if [ "$TRAVIS_PULL_REQUEST" = false ]; then
      printf '#!/bin/sh -e\necho %s' "$GH_PUBLISH_TOKEN" > gh-publish-pass.sh && chmod u+x gh-publish-pass.sh &&
      git add . &&
      git commit -m 'Auto-publishing via TravisCI [skip ci]' &&
      GIT_ASKPASS=./gh-publish-pass.sh git push origin +HEAD:refs/heads/gh-pages
      ;
    fi
