
body {
    background: #e0f0ff;
}

#box2dDebugDraw {
    position: absolute;
    top: 10px;
    left: 10px;
}

.stage {
    position: absolute;
    top: 10px;
    left: 10px;

    width: 600px;
    height: 500px;

    border: 1px solid #000;
    //background: #204;

    -webkit-transform: translate3d(0, 0, 0);
    -webkit-perspective: 600;

    overflow: hidden;
}

.wall {
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    -webkit-transform: translate3d(10px, 10px, 0px);
    transition: -webkit-transform 0.5s;

    &:hover {
        -webkit-transform: translate3d(10px, 10px, 10px);
    }

    &:after {
        display: inline-block;
        font-family: 'Press Start 2P', mono;
        font-size: 16px;
        line-height: 1;
        color: #fee;
        content: '+----+\A|    |\A|    |\A|    |\A|    |\A+----+';
        white-space: pre;
        background: #f00;
    }
}
